sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 45em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 80em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 80em;
}
.stl_06 {
	height: 4.5em;
}
.ie .stl_06 {
	height: 45em;
}
@font-face {
	font-family:"NGCHEA+Calibri-BoldItalic";
	src:url("f29d08c7-0003-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.5em;
	font-family: "NGCHEA+Calibri-BoldItalic", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.220703em;
}
.stl_09 {
	letter-spacing: -0.0002em;
}

.ie .stl_09 {
	letter-spacing: -0.0041px;
}
@font-face {
	font-family:"PSEAQC+DengXian";
	src:url("81681f3f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 4.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_11 {
	line-height: 1.041992em;
}
.stl_12 {
	letter-spacing: -0.0114em;
}

.ie .stl_12 {
	letter-spacing: -0.8185px;
}
@font-face {
	font-family:"NDBFKR+Calibri";
	src:url("e4960bbe-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 4.502em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_14 {
	font-size: 1.5em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_15 {
	letter-spacing: -0.0341em;
}

.ie .stl_15 {
	letter-spacing: -0.8185px;
}
.stl_16 {
	font-size: 1.5em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_17 {
	letter-spacing: -0.0018em;
}

.ie .stl_17 {
	letter-spacing: -0.0441px;
}
@font-face {
	font-family:"LFNFLN+Calibri";
	src:url("fdef4eba-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 1.5em;
	font-family: "LFNFLN+Calibri";
	color: #000000;
}
@font-face {
	font-family:"GKIHSG+DengXian-Bold";
	src:url("3d2ac205-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 2em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #000000;
}
.stl_20 {
	letter-spacing: 0.001em;
}

.ie .stl_20 {
	letter-spacing: 0.032px;
}
.stl_21 {
	font-size: 1.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_22 {
	letter-spacing: -0.0027em;
}

.ie .stl_22 {
	letter-spacing: -0.0637px;
}
.stl_23 {
	font-size: 1.502em;
	font-family: "LFNFLN+Calibri";
	color: #000000;
}
.stl_24 {
	font-size: 2.002em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.001em;
}

.ie .stl_25 {
	letter-spacing: -0.032px;
}
.stl_26 {
	letter-spacing: 0em;
}

.ie .stl_26 {
	letter-spacing: 0px;
}
.stl_27 {
	letter-spacing: -0.002em;
}

.ie .stl_27 {
	letter-spacing: -0.0481px;
}
.stl_28 {
	font-size: 1.17em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #7030A0;
}
.stl_29 {
	font-size: 2.332em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_30 {
	letter-spacing: -0.0009em;
}

.ie .stl_30 {
	letter-spacing: -0.032px;
}
.stl_31 {
	font-size: 2em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_32 {
	letter-spacing: 0.0004em;
}

.ie .stl_32 {
	letter-spacing: 0.0143px;
}
.stl_33 {
	font-size: 2em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
@font-face {
	font-family:"INATNJ+ArialMT";
	src:url("9d2a211f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 1.67em;
	font-family: "INATNJ+ArialMT", "Times New Roman";
	color: #000000;
}
.stl_35 {
	line-height: 1.117187em;
}
.stl_36 {
	font-size: 1.67em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_37 {
	letter-spacing: -0.0008em;
}

.ie .stl_37 {
	letter-spacing: -0.0214px;
}
.stl_38 {
	font-size: 1.67em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_39 {
	letter-spacing: 0.0006em;
}

.ie .stl_39 {
	letter-spacing: 0.0149px;
}
.stl_40 {
	letter-spacing: 0.0001em;
}

.ie .stl_40 {
	letter-spacing: 0.0017px;
}
.stl_41 {
	font-size: 1.5em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #FF0000;
}
.stl_42 {
	font-size: 2.002em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_43 {
	letter-spacing: -0.0004em;
}

.ie .stl_43 {
	letter-spacing: -0.01px;
}
.stl_44 {
	font-size: 1.67em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #FF0000;
}
.stl_45 {
	letter-spacing: 0.0013em;
}

.ie .stl_45 {
	letter-spacing: 0.032px;
}
.stl_46 {
	letter-spacing: 0.0012em;
}

.ie .stl_46 {
	letter-spacing: 0.0277px;
}
.stl_47 {
	letter-spacing: -0.0013em;
}

.ie .stl_47 {
	letter-spacing: -0.032px;
}
.stl_48 {
	font-size: 1.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #FF0000;
}
.stl_49 {
	font-size: 2.332em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_50 {
	letter-spacing: 0.0002em;
}

.ie .stl_50 {
	letter-spacing: 0.0042px;
}
.stl_51 {
	font-size: 1.5em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #000000;
}
.stl_52 {
	font-size: 1.5em;
	font-family: "INATNJ+ArialMT", "Times New Roman";
	color: #000000;
}
.stl_53 {
	line-height: 1.117188em;
}
.stl_54 {
	font-size: 1.502em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_55 {
	font-size: 1.502em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"OTWDGI+Calibri-Bold";
	src:url("e985d259-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_56 {
	font-size: 1.5em;
	font-family: "OTWDGI+Calibri-Bold", "Times New Roman";
	color: #000000;
}
.stl_57 {
	letter-spacing: 0.0003em;
}

.ie .stl_57 {
	letter-spacing: 0.008px;
}
.stl_58 {
	font-size: 3em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #FF0000;
}
.stl_59 {
	letter-spacing: 0.0186em;
}

.ie .stl_59 {
	letter-spacing: 0.4476px;
}
.stl_60 {
	font-size: 2.002em;
	font-family: "OTWDGI+Calibri-Bold", "Times New Roman";
	color: #000000;
}
.stl_61 {
	letter-spacing: -0.0056em;
}

.ie .stl_61 {
	letter-spacing: -0.1807px;
}
.stl_62 {
	font-size: 2em;
	font-family: "OTWDGI+Calibri-Bold", "Times New Roman";
	color: #000000;
}
.stl_63 {
	letter-spacing: -0.0005em;
}

.ie .stl_63 {
	letter-spacing: -0.0128px;
}
.stl_64 {
	font-size: 3em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #00B0F0;
}
.stl_65 {
	letter-spacing: -0.0149em;
}

.ie .stl_65 {
	letter-spacing: -0.3588px;
}
.stl_66 {
	letter-spacing: 0.0029em;
}

.ie .stl_66 {
	letter-spacing: 0.0686px;
}
.stl_67 {
	font-size: 3em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #FFC000;
}
.stl_68 {
	letter-spacing: -0.0067em;
}

.ie .stl_68 {
	letter-spacing: -0.162px;
}
.stl_69 {
	font-size: 3em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #92D050;
}
.stl_70 {
	letter-spacing: 0.0176em;
}

.ie .stl_70 {
	letter-spacing: 0.4223px;
}
.stl_71 {
	font-size: 1.5em;
	font-family: "NDBFKR+Calibri";
	color: #FF0000;
}
.stl_72 {
	letter-spacing: -0.0132em;
}

.ie .stl_72 {
	letter-spacing: -0.3157px;
}
.stl_73 {
	font-size: 3em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #D9D9D9;
}
.stl_74 {
	letter-spacing: -0.0017em;
}

.ie .stl_74 {
	letter-spacing: -0.0399px;
}
.stl_75 {
	font-size: 3em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #7030A0;
}
.stl_76 {
	letter-spacing: -0.0003em;
}

.ie .stl_76 {
	letter-spacing: -0.0076px;
}
@font-face {
	font-family:"SDLFNF+YuGothic-Regular";
	src:url("388f75e1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_77 {
	font-size: 1.502em;
	font-family: "SDLFNF+YuGothic-Regular", "Times New Roman";
	color: #000000;
}
.stl_78 {
	line-height: 1.287109em;
}
.stl_79 {
	font-size: 1.502em;
	font-family: "INATNJ+ArialMT", "Times New Roman";
	color: #000000;
}
.stl_80 {
	font-size: 1.5em;
	font-family: "SDLFNF+YuGothic-Regular", "Times New Roman";
	color: #000000;
}
.stl_81 {
	letter-spacing: -0.0001em;
}

.ie .stl_81 {
	letter-spacing: -0.0015px;
}
@font-face {
	font-family:"DWVWEE+Verdana";
	src:url("378e2eb6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_82 {
	font-size: 1.5em;
	font-family: "DWVWEE+Verdana", "Times New Roman";
	color: #000000;
}
.stl_83 {
	line-height: 1.215332em;
}
.stl_84 {
	letter-spacing: -0.0012em;
}

.ie .stl_84 {
	letter-spacing: -0.0297px;
}
.stl_85 {
	letter-spacing: 0.0005em;
}

.ie .stl_85 {
	letter-spacing: 0.011px;
}
.stl_86 {
	letter-spacing: -0.0015em;
}

.ie .stl_86 {
	letter-spacing: -0.0365px;
}
.stl_87 {
	letter-spacing: -0.0023em;
}

.ie .stl_87 {
	letter-spacing: -0.0544px;
}
.stl_88 {
	letter-spacing: -0.0024em;
}

.ie .stl_88 {
	letter-spacing: -0.0571px;
}
.stl_89 {
	letter-spacing: 0.0007em;
}

.ie .stl_89 {
	letter-spacing: 0.0172px;
}
.stl_90 {
	font-size: 2.672em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #000000;
}
.stl_91 {
	letter-spacing: -0.0007em;
}

.ie .stl_91 {
	letter-spacing: -0.032px;
}
.stl_92 {
	font-size: 1.172em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_93 {
	font-size: 1.17em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_94 {
	letter-spacing: -0.0011em;
}

.ie .stl_94 {
	letter-spacing: -0.0256px;
}
.stl_95 {
	font-size: 1.502em;
	font-family: "NDBFKR+Calibri";
	color: #FF0000;
}
.stl_96 {
	font-size: 1.172em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #FF0000;
}
.stl_97 {
	letter-spacing: -0.0016em;
}

.ie .stl_97 {
	letter-spacing: -0.0304px;
}
.stl_98 {
	font-size: 1.172em;
	font-family: "NDBFKR+Calibri";
	color: #FF0000;
}
.stl_99 {
	font-size: 1.17em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #FF0000;
}
.stl_100 {
	font-size: 2.332em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #000000;
}
.stl_101 {
	font-size: 2.002em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #0070C0;
}
.stl_102 {
	font-size: 1.5em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #00B050;
}
.stl_103 {
	font-size: 2em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #0070C0;
}
@font-face {
	font-family:"OIAUMK+Calibri-Italic";
	src:url("ede17059-0002-0000-0000-000000000000.woff") format("woff");
}
.stl_104 {
	font-size: 1.5em;
	font-family: "OIAUMK+Calibri-Italic";
	color: #000000;
}
.stl_105 {
	font-size: 1.5em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #7030A0;
}
.stl_106 {
	font-size: 2.33em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #000000;
}
.stl_107 {
	letter-spacing: 0.0091em;
}

.ie .stl_107 {
	letter-spacing: 0.2183px;
}
.stl_108 {
	letter-spacing: 0.0095em;
}

.ie .stl_108 {
	letter-spacing: 0.2271px;
}
@font-face {
	font-family:"MIOKUU+DengXian";
	src:url("2967b4f6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_109 {
	font-size: 1.5em;
	font-family: "MIOKUU+DengXian", "Times New Roman";
	color: #000000;
}
.stl_110 {
	letter-spacing: 0.0268em;
}

.ie .stl_110 {
	letter-spacing: 0.6422px;
}
.stl_111 {
	letter-spacing: 0.0086em;
}

.ie .stl_111 {
	letter-spacing: 0.2072px;
}
.stl_112 {
	letter-spacing: 0.075em;
}

.ie .stl_112 {
	letter-spacing: 1.8027px;
}
.stl_113 {
	font-size: 1.502em;
	font-family: "MIOKUU+DengXian", "Times New Roman";
	color: #000000;
}
.stl_114 {
	letter-spacing: 0.0544em;
}

.ie .stl_114 {
	letter-spacing: 1.3055px;
}
.stl_115 {
	letter-spacing: 0.0539em;
}

.ie .stl_115 {
	letter-spacing: 1.2927px;
}
.stl_116 {
	letter-spacing: 0.0201em;
}

.ie .stl_116 {
	letter-spacing: 0.4815px;
}
.stl_117 {
	font-size: 1.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #00B0F0;
}
.stl_118 {
	font-size: 1.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #00B050;
}
.stl_119 {
	font-size: 1.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #FFC000;
}
.stl_120 {
	font-size: 1.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #D9D9D9;
}
.stl_121 {
	font-size: 1.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #7030A0;
}
.stl_122 {
	font-size: 0.88em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_123 {
	letter-spacing: -0.0019em;
}

.ie .stl_123 {
	letter-spacing: -0.0273px;
}
.stl_124 {
	font-size: 0.88em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_125 {
	letter-spacing: 0.0133em;
}

.ie .stl_125 {
	letter-spacing: 0.3203px;
}
.stl_126 {
	letter-spacing: 0.0455em;
}

.ie .stl_126 {
	letter-spacing: 1.0945px;
}
.stl_127 {
	letter-spacing: 0.0476em;
}

.ie .stl_127 {
	letter-spacing: 1.1427px;
}
.stl_128 {
	letter-spacing: 0.0039em;
}

.ie .stl_128 {
	letter-spacing: 0.0947px;
}
@font-face {
	font-family:"QRQQPI+YuMincho-Regular";
	src:url("ea678451-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_129 {
	font-size: 1.5em;
	font-family: "QRQQPI+YuMincho-Regular", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"ADEAMP+YuMincho-Regular";
	src:url("00bec211-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_130 {
	font-size: 1.5em;
	font-family: "ADEAMP+YuMincho-Regular", "Times New Roman";
	color: #000000;
}
.stl_131 {
	font-size: 1.502em;
	font-family: "ADEAMP+YuMincho-Regular", "Times New Roman";
	color: #000000;
}
.stl_132 {
	letter-spacing: 0.0285em;
}

.ie .stl_132 {
	letter-spacing: 0.6833px;
}
.stl_133 {
	letter-spacing: 0.0008em;
}

.ie .stl_133 {
	letter-spacing: 0.0199px;
}
.stl_134 {
	font-size: 1.5em;
	font-family: "MIOKUU+DengXian", "Times New Roman";
	color: #FF0000;
}
.stl_135 {
	letter-spacing: 0.0471em;
}

.ie .stl_135 {
	letter-spacing: 1.132px;
}
.stl_136 {
	font-size: 1.502em;
	font-family: "QRQQPI+YuMincho-Regular", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"RFPIBL+SymbolMT";
	src:url("0edc8b47-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_137 {
	font-size: 1.5em;
	font-family: "RFPIBL+SymbolMT", "Times New Roman";
	color: #000000;
}
.stl_138 {
	line-height: 1.225098em;
}
.stl_139 {
	letter-spacing: 0.0106em;
}

.ie .stl_139 {
	letter-spacing: 0.2548px;
}
.stl_140 {
	letter-spacing: 0.0378em;
}

.ie .stl_140 {
	letter-spacing: 0.9079px;
}
.stl_141 {
	letter-spacing: 0.0386em;
}

.ie .stl_141 {
	letter-spacing: 0.9276px;
}
.stl_142 {
	letter-spacing: 0.0514em;
}

.ie .stl_142 {
	letter-spacing: 1.2343px;
}
.stl_143 {
	letter-spacing: 0.0354em;
}

.ie .stl_143 {
	letter-spacing: 0.8488px;
}
.stl_144 {
	letter-spacing: 0.0468em;
}

.ie .stl_144 {
	letter-spacing: 1.1224px;
}
.stl_145 {
	letter-spacing: 0.0211em;
}

.ie .stl_145 {
	letter-spacing: 0.5061px;
}
.stl_146 {
	letter-spacing: 0.0213em;
}

.ie .stl_146 {
	letter-spacing: 0.512px;
}
.stl_147 {
	letter-spacing: 0.0143em;
}

.ie .stl_147 {
	letter-spacing: 0.3426px;
}
.stl_148 {
	letter-spacing: 0.0148em;
}

.ie .stl_148 {
	letter-spacing: 0.355px;
}
.stl_149 {
	letter-spacing: 0.0573em;
}

.ie .stl_149 {
	letter-spacing: 1.3764px;
}
.stl_150 {
	letter-spacing: 0.0188em;
}

.ie .stl_150 {
	letter-spacing: 0.4504px;
}
.stl_151 {
	letter-spacing: 0.0076em;
}

.ie .stl_151 {
	letter-spacing: 0.183px;
}
.stl_152 {
	font-size: 1.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #538135;
}
.stl_153 {
	font-size: 1.502em;
	font-family: "MIOKUU+DengXian", "Times New Roman";
	color: #538135;
}
.stl_154 {
	letter-spacing: 0.026em;
}

.ie .stl_154 {
	letter-spacing: 0.623px;
}
.stl_155 {
	font-size: 1.5em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #0070C0;
}
.stl_156 {
	letter-spacing: 0.0113em;
}

.ie .stl_156 {
	letter-spacing: 0.271px;
}
.stl_157 {
	letter-spacing: 0.0226em;
}

.ie .stl_157 {
	letter-spacing: 0.5428px;
}
.stl_158 {
	letter-spacing: 0.0267em;
}

.ie .stl_158 {
	letter-spacing: 0.6403px;
}
.stl_159 {
	letter-spacing: 0.0184em;
}

.ie .stl_159 {
	letter-spacing: 0.4407px;
}
.stl_160 {
	letter-spacing: 0.0193em;
}

.ie .stl_160 {
	letter-spacing: 0.4635px;
}
.stl_161 {
	font-size: 1.5em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #538135;
}
.stl_162 {
	font-size: 1.5em;
	font-family: "MIOKUU+DengXian", "Times New Roman";
	color: #538135;
}
.stl_163 {
	letter-spacing: 0.0418em;
}

.ie .stl_163 {
	letter-spacing: 1.0037px;
}
.stl_164 {
	letter-spacing: 0.0037em;
}

.ie .stl_164 {
	letter-spacing: 0.089px;
}
.stl_165 {
	letter-spacing: 0.0125em;
}

.ie .stl_165 {
	letter-spacing: 0.3004px;
}
.stl_166 {
	letter-spacing: 0.0346em;
}

.ie .stl_166 {
	letter-spacing: 0.8295px;
}
.stl_167 {
	letter-spacing: 0.0258em;
}

.ie .stl_167 {
	letter-spacing: 0.6189px;
}
.stl_168 {
	letter-spacing: 0.0051em;
}

.ie .stl_168 {
	letter-spacing: 0.1228px;
}
.stl_169 {
	letter-spacing: 0.0233em;
}

.ie .stl_169 {
	letter-spacing: 0.5601px;
}
.stl_170 {
	letter-spacing: 0.004em;
}

.ie .stl_170 {
	letter-spacing: 0.0949px;
}
.stl_171 {
	font-size: 1.33em;
	font-family: "QRQQPI+YuMincho-Regular", "Times New Roman";
	color: #000000;
}
.stl_172 {
	letter-spacing: 0.0045em;
}

.ie .stl_172 {
	letter-spacing: 0.0949px;
}
@font-face {
	font-family:"PIJSFE+SimSun";
	src:url("14a9f13b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_173 {
	font-size: 1.33em;
	font-family: "PIJSFE+SimSun", "Times New Roman";
	color: #000000;
}
.stl_174 {
	line-height: 1em;
}
@font-face {
	font-family:"JQHLOU+SimSun";
	src:url("fdbfcc48-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_175 {
	font-size: 1.33em;
	font-family: "JQHLOU+SimSun", "Times New Roman";
	color: #000000;
}
.stl_176 {
	letter-spacing: 0.0177em;
}

.ie .stl_176 {
	letter-spacing: 0.4244px;
}
.stl_177 {
	letter-spacing: 0.036em;
}

.ie .stl_177 {
	letter-spacing: 0.8632px;
}
.stl_178 {
	letter-spacing: 0.0024em;
}

.ie .stl_178 {
	letter-spacing: 0.0568px;
}
.stl_179 {
	font-size: 1.502em;
	font-family: "RFPIBL+SymbolMT", "Times New Roman";
	color: #000000;
}
.stl_180 {
	letter-spacing: 0.0052em;
}

.ie .stl_180 {
	letter-spacing: 0.1247px;
}
.stl_181 {
	letter-spacing: 0.0036em;
}

.ie .stl_181 {
	letter-spacing: 0.0869px;
}
.stl_182 {
	letter-spacing: 0.0069em;
}

.ie .stl_182 {
	letter-spacing: 0.1649px;
}
.stl_183 {
	letter-spacing: -0.0048em;
}

.ie .stl_183 {
	letter-spacing: -0.116px;
}
.stl_184 {
	letter-spacing: -0.0036em;
}

.ie .stl_184 {
	letter-spacing: -0.116px;
}
.stl_185 {
	font-size: 2.002em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_186 {
	font-size: 2em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #FFC000;
}
.stl_187 {
	letter-spacing: -0.0033em;
}

.ie .stl_187 {
	letter-spacing: -0.0797px;
}
.stl_188 {
	font-size: 1.502em;
	font-family: "OIAUMK+Calibri-Italic";
	color: #000000;
}
.stl_189 {
	font-size: 2em;
	font-family: "OTWDGI+Calibri-Bold", "Times New Roman";
	color: #FFC000;
}
.stl_190 {
	letter-spacing: -0.0043em;
}

.ie .stl_190 {
	letter-spacing: -0.1022px;
}
@font-face {
	font-family:"QHGOMT+SimHei";
	src:url("d84dadd9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_191 {
	font-size: 2.33em;
	font-family: "QHGOMT+SimHei", "Times New Roman";
	color: #000000;
}
.stl_192 {
	letter-spacing: 0.0014em;
}

.ie .stl_192 {
	letter-spacing: 0.0327px;
}
.stl_193 {
	font-size: 1em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_194 {
	font-size: 2.33em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_195 {
	font-size: 1.502em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #D0CECE;
}
.stl_196 {
	font-size: 1.5em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #00B0F0;
}
.stl_197 {
	font-size: 1.5em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #FFC000;
}
.stl_198 {
	font-size: 1.5em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #E7E6E6;
}
.stl_199 {
	font-size: 2.672em;
	font-family: "OTWDGI+Calibri-Bold", "Times New Roman";
	color: #000000;
}
.stl_200 {
	letter-spacing: -0.0313em;
}

.ie .stl_200 {
	letter-spacing: -1.3391px;
}
.stl_201 {
	letter-spacing: -0.0715em;
}

.ie .stl_201 {
	letter-spacing: -1.3391px;
}
.stl_202 {
	letter-spacing: -0.0246em;
}

.ie .stl_202 {
	letter-spacing: -1.0502px;
}
.stl_203 {
	letter-spacing: -0.056em;
}

.ie .stl_203 {
	letter-spacing: -1.0502px;
}
.stl_204 {
	letter-spacing: -0.0029em;
}

.ie .stl_204 {
	letter-spacing: -0.054px;
}
.stl_205 {
	font-size: 1.172em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_206 {
	font-size: 2em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #92D050;
}
.stl_207 {
	font-size: 2em;
	font-family: "OTWDGI+Calibri-Bold", "Times New Roman";
	color: #92D050;
}
.stl_208 {
	font-size: 2.002em;
	font-family: "GKIHSG+DengXian-Bold", "Times New Roman";
	color: #92D050;
}
.stl_209 {
	letter-spacing: 0.0009em;
}

.ie .stl_209 {
	letter-spacing: 0.0217px;
}
.stl_210 {
	font-size: 1.332em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_211 {
	font-size: 1.33em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_212 {
	letter-spacing: -0.048em;
}

.ie .stl_212 {
	letter-spacing: -1.0216px;
}
.stl_213 {
	font-size: 1.33em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_214 {
	letter-spacing: -0.004em;
}

.ie .stl_214 {
	letter-spacing: -0.1267px;
}
.stl_215 {
	font-size: 0.92em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #000000;
}
.stl_216 {
	letter-spacing: -0.0086em;
}

.ie .stl_216 {
	letter-spacing: -0.1267px;
}
.stl_217 {
	letter-spacing: -0.0134em;
}

.ie .stl_217 {
	letter-spacing: -0.4282px;
}
.stl_218 {
	letter-spacing: -0.0291em;
}

.ie .stl_218 {
	letter-spacing: -0.4282px;
}
.stl_219 {
	font-size: 0.92em;
	font-family: "NDBFKR+Calibri";
	color: #000000;
}
.stl_220 {
	letter-spacing: -0.005em;
}

.ie .stl_220 {
	letter-spacing: -0.1196px;
}
.stl_221 {
	letter-spacing: -0.0103em;
}

.ie .stl_221 {
	letter-spacing: -0.3288px;
}
.stl_222 {
	letter-spacing: -0.0223em;
}

.ie .stl_222 {
	letter-spacing: -0.3288px;
}
.stl_223 {
	letter-spacing: -0.0026em;
}

.ie .stl_223 {
	letter-spacing: -0.0622px;
}
.stl_224 {
	font-size: 1.33em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #00B050;
}
.stl_225 {
	font-size: 1.33em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #FF0000;
}
.stl_226 {
	font-size: 1.33em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #00B0F0;
}
.stl_227 {
	font-size: 1.33em;
	font-family: "PSEAQC+DengXian", "Times New Roman";
	color: #FFC000;
}
